<!DOCTYPE html>
<html>
  <head>
    <title>RailsUser</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%=flash[:danger]%><br>
  <%if user_signed_in?%>
  <%= link_to '로그아웃', logout_path, method:'delete'%>
  <%else%>
  <%= link_to '로그인', login_path %>
  <a href="/users/new">회원 가입</a>
  <%= link_to '회원 가입', new_user_path %>
  <%end%>
    <%= yield %>
  </body>
</html>
