<!DOCTYPE html>
<html>
  <head>
    <title>RailsUser</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <a href="/users/new">회원 가입</a>
  <%= link_to '회원 가입', new_user_path %>
  
    <%= yield %>
  </body>
</html>
