

<h1>simple blog</h1>
<%=form_tag posts_path, method: 'post', multipart: true do%>
    <%=text_field_tag 'content'%><br>
    <input type="file" name="image"><br>
    <%=file_field_tag 'image'%>
    <%=submit_tag '글 쓰 기'%><br>
<%end%>
<ul>
<%@posts.each do |p|%>
    <li><%=p.id%>. <%=p.content%>
        <img src="<%=p.image.url%>">
    </li>
<%end%>
<%= will_paginate @posts %>